{% extends 'base.html' %}
{% block page_content %}

    <div class="panel panel-default center-block" style="max-width:25%">
        <div class="panel-heading text-center">
            <h3>Are you sure you want to log out?</h3>
        </div>
        <div class="panel-body">
            <form method="post" action="{% url 'logout user' %}">
                {{ form }}
                {% csrf_token %}
                <br>
                <div class="row" style="text-align: center">
                    <div class="col-lg-6">
                        <a href="{% url 'logout user' %}" class="btn btn btn-primary btn-danger btn-lg float-left" type="submit">
                            <span class="glyphicon glyphicon-log-out"></span>
                            Yes, logout!
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a href="javascript:history.back()" class="btn btn btn-primary btn-success btn-lg float-right" type="submit">
                            <span class="glyphicon glyphicon-log-in"></span>
                            No, go back!
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}