{% extends 'base.html' %}
{% load cloudinary %}
{% load static %}
{% block page_content %}

    <div class="panel panel-info">
        <div class="panel-heading" style="text-align: center">
            <h3>{{ travel_entry.title }}</h3>
        </div>
        <div class="panel-body" style="text-align: center">
            <p><b>Description:</b></p>
            <p>{{ travel_entry.description }}</p>
            <br>
            <p>Visited City: {{ travel_entry.visited_city }}</p>
            <br>
            <p>Visited Hotel: {{ travel_entry.visited_hotel.hotel_name }}</p>
            <br>
            {% if travel_entry.travel_picture %}
                <a href="{{ travel_entry.travel_picture.travel_picture.url }}" class="thumbnail">
                    {% cloudinary travel_entry.travel_picture.travel_picture crop='scale' gravity='auto' %}
                </a>
            {% else %}
                <img src="{% static 'default_files/default_world_picture.png' %}"
                     alt="Default Travel Picture"
                     class="img-responsive img-thumbnail"
                     style="max-width: 50%;">
            {% endif %}
            <br>
            <p>Published On: {{ travel_entry.publish_date_time }}</p>
            <div class="panel-body">
                <a href="{% url 'travel entry edit' travel_entry.pk %}" class="btn btn-primary"
                   style="float: left">
                    <span class="glyphicon glyphicon-edit"></span>
                    Edit</a>
                <a href="{% url 'travel entry delete' travel_entry.pk %}" class="btn btn-danger"
                   style="float: right">
                    <span class="glyphicon glyphicon-trash"></span>
                    Delete</a>
            </div>
        </div>
    </div>

{% endblock %}