{% extends 'base_create.html' %}
{% block alert_block %}
    {% if not user_cities %}
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <strong>Warning!</strong> Always start with registering your city.
        </div>
    {% endif %}
{% endblock %}
{% block panel_heading_detail %}
    Register The City You Visited
{% endblock %}
{% block form_detail %}
    {% url 'register city' %}
{% endblock %}