{% extends 'base.html' %}
{% load static %}
{% block page_content %}

    <div class="panel panel-info">
        <div class="panel-heading" style="text-align: center">
            <h4><b>{{ profile.user.username }}</b> Profile Details</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6 text-center">
                    {% if profile.profile_picture %}
                        <img src="{{ profile.profile_picture }}" alt="Profile Picture" class="img-thumbnail">
                    {% else %}
                        <img src="{% static 'default_files/default_profile_picture.png' %}"
                             alt="Default Profile Picture" class="img-thumbnail">
                    {% endif %}
                </div>
                <div class="col-sm-6">
                    <h5>First Name: {{ profile.user.first_name }}</h5>
                    <h5>Last Name: {{ profile.user.last_name }}</h5>
                    {% if profile.date_of_birth %}
                        <h5>Date of Birth: {{ profile.date_of_birth }}</h5>
                    {% endif %}
                    {% if profile.current_country %}
                        <h5>Current Country: {{ profile.current_country }}</h5>
                    {% endif %}
                    <h5>Email: {{ profile.user.email }}</h5>
                    <a href="{% url 'profile edit' profile.pk %}" class="btn btn-primary">Edit Profile</a>
                    <a href="{% url 'change password' profile.pk %}" class="btn btn-warning">Change Password</a>
                    <a href="{% url 'profile delete' profile.pk %}" class="btn btn-danger">Delete Profile</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}