{% extends 'base.html' %}
{% block page_content %}

    <div class="panel panel-info center-block">
        <div class="panel-heading">
            <h3 style="text-align: center">
                {% if travel_entries %}
                    All Travel Memories
                {% else %}
                    No Memories Yet...
                {% endif %}
            </h3>
        </div>
        {% if travel_entries %}
            <div class="container-fluid">
                <div class="row">
                    {% for travel_entry in travel_entries %}
                        <div class="col-sm-4">
                            <a href="{% url 'travel entry details' travel_entry.pk %}"
                               class="btn btn btn-default btn-md">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                {{ travel_entry.title }}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if cities or hotels or travel_pictures %}
            <div class="panel-body">
                <div class="row">
                    {% if cities %}
                        <div class="col-sm">
                            <a href="{% url 'cities view' %}" class="btn btn-primary">Show Visited Cities</a>
                        </div>
                    {% endif %}
                    {% if hotels %}
                        <div class="col-sm">
                            <a href="{% url 'hotels view' %}" class="btn btn-primary">Show Visited Hotels</a>
                        </div>
                    {% endif %}
                    {% if travel_pictures %}
                        <div class="col-sm">
                            <a href="{% url 'travel pictures view' %}" class="btn btn-primary">Show Travel Pictures</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}