{% extends 'base_visited.html' %}
{% load static %}
{% block panel_heading_details %}
    <h3>{{ item.title }}</h3>
    {% if item.travel_picture %}
        <img src="{{ item.travel_picture }}"
             alt="Travel Picture"
             class="img-responsive img-thumbnail"
             style="max-width: 75%">
    {% else %}
        <img src="{% static 'default_files/default_world_picture.png' %}"
             alt="Default Travel Picture"
             class="img-responsive img-thumbnail"
        style="max-width: 75%">
    {% endif %}
    <h4>{{ item.located_city.city_name }}</h4>
    <h4>{{ item.located_city.country_name }}</h4>
    <h5>Uploaded On: {{ item.uploaded_on }}</h5>
{% endblock %}
{% block edit_url_details %}
    {% url 'travel picture edit' item.pk %}
{% endblock %}
{% block delete_url_details %}
    {% url 'travel picture delete' item.pk %}
{% endblock %}