{% extends 'base_visited.html' %}
{% load cloudinary %}
{% load static %}
{% block panel_heading_details %}
    <h3>{{ item.title }}</h3>
    {% if item.travel_picture %}
        <a href="{{ item.travel_picture.url }}" class="img-thumbnail">
            {% cloudinary item.travel_picture width=300 height=300 crop='scale' %}
        </a>
    {% else %}
        <img src="{% static 'default_files/default_world_picture.png' %}"
             alt="Default Travel Picture"
             class="img-responsive img-thumbnail"
             style="width: 300px; height: 300px; crop: auto">
    {% endif %}
    <h4>{{ item.located_city.city_name }}</h4>
    <h4>{{ item.located_city.country_name }}</h4>
    <h5>Uploaded On: {{ item.uploaded_on }}</h5>
{% endblock %}
{% block edit_url_details %}
    {% url 'travel picture edit' item.pk %}
{% endblock %}
{% block delete_url_details %}
    {% url 'travel picture delete' item.pk %}
{% endblock %}