{% extends 'base.html' %}
{% block page_content %}

    {% for item in object_list %}
        <div class="row">
            <div class="col-xs-4">
                <div class="panel panel-info">
                    <div class="panel-heading" style="text-align: center">
                        {% block panel_heading_details %}
                        {% endblock %}
                    </div>
                    <div class="panel-body">
                        <a href="{% block edit_url_details %}{% endblock %}" class="btn btn-primary"
                           style="float: left">
                            <span class="glyphicon glyphicon-edit"></span>
                            Edit</a>
                        <a href="{% block delete_url_details %}{% endblock %}" class="btn btn-danger"
                           style="float: right">
                            <span class="glyphicon glyphicon-trash"></span>
                            Delete</a>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:'3' %}
                </div>
                <div class="row">
            {% endif %}
    {% endfor %}

{% endblock %}